.banner{
    /* background-image: url('https://wallpaperaccess.com/full/2703652.png'); */
    position: relative;
    background-size: cover;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.content{
    max-width: 80%;
    padding-top: 8%;
    height: 190px;
    padding-left: 15px;
}

.title{
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.button{
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    background-color: rgba(51, 51, 51, .5);
    cursor: pointer;
    margin-right: 1rem;
}

.button:hover{
    color: black;
    background-color: #e6e6e6;
}

.description {
    position: absolute;
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: normal;
    height: 80px;
    max-width: 360px;
}

.fade_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 13.2rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}

@media (max-width: 768px) {
  .content {
    max-width: 90%;
    padding-top: 15%;
  }
  
  .title {
    font-size: 2rem;
    max-width: 350px;
  }
  
  .description {
    font-size: 1rem;
    max-width: 350px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
    max-width: 250px;
  }
  
  .description {
    font-size: 0.5rem;
    max-width: 250px;
  }
}